body {
  background-color: #d4d5ce !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(28, 16, 10, 0.9);
}
.navbar-brand h1 {
  font-family: "Playfair Display", serif;
  color: #954c2a;
  font-size: 25px;
  text-shadow: 2px 2px 5px #00000065;
}
.navbar-brand span {
  font-size: 18px;
  color: #ffffff;
}
.form-inline button {
  background-color: rgba(45, 25, 16, 0.8);
  border-color: #ffffff;
}
.form-inline button:hover {
  background-color: #3d2418;
  border-color: #ffffff;
}

.form-inline input {
  background-color: rgba(45, 25, 16, 0.8);
  border-color: #ffffff;
  border-radius: 50px;
}
.form-inline input::placeholder {
  color: white;
}
.form-inline input:not(:focus) {
  color: white;
}
.form-inline input:focus {
  background-color: #3d2418;
  border-color: #ffffff;
  color: white;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.business-thumbnail {
  border-radius: 10px;
  overflow: hidden; /* Hide content that overflows */
  background-color: rgba(250, 235, 215, 0.307);
  margin: 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid #ffffff;
}
