body {
  background-color: #d4d5ce !important;
}
p {
  margin: 0 !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(28, 16, 10, 0.9);
}
.navbar-brand h1 {
  font-family: "Playfair Display", serif;
  color: #954c2a;
  font-size: 25px;
  text-shadow: 2px 2px 5px #00000065;
}
.navbar-brand span {
  font-size: 18px;
  color: #ffffff;
}
.form-inline button {
  background-color: rgba(45, 25, 16, 0.8);
  border-color: #ffffff;
}
.form-inline button:hover {
  background-color: #3d2418;
  border-color: #ffffff;
}

.form-inline input {
  background-color: rgba(45, 25, 16, 0.8);
  border-color: #ffffff;
  border-radius: 50px;
}
.form-inline input::placeholder {
  color: white;
}
.form-inline input:not(:focus) {
  color: white;
}
.form-inline input:focus {
  background-color: #3d2418;
  border-color: #ffffff;
  color: white;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* #search-results .container {
  border-radius: 10px;
  background-color: red;
  margin-bottom: 20px;
}
#search-results .col-md-4 {
  padding: 10px;
}
#search-results .container .business-img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
} */

#search-results .container .row {
  border-radius: 5px;
  height: 200px;
  background-color: rgba(250, 235, 215, 0.307);
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid #ffffff;
}
#search-results .container .row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #553323;
}
#search-results .col-md-4 {
  padding: 10px;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
#search-results .col-md-8 {
  padding: 10px;
  width: 70%;
  max-width: 100%;
  display: inline-block;
}
#search-results .container .business-img {
  border-radius: 5px;
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}
#search-results .container h2 {
  color: #3d2418;
}
#search-results .business-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
