h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: center;
  
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(18, 13, 13, 0.5);
  }
  
.home-search {
    padding-top: 70px; /* Add padding to the top of the container to prevent content from being covered by the navbar */
    position: relative;
    height: 550px;
    z-index: 1;
}

.home-search-bg {
  background-image: url('assets/cofeeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 600px; */
  background-attachment: fixed; /* add this line */
}

#municipalities-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#municipalities-button .btn {
  margin-right: 30px;
  border-radius: 25px;
  padding: 10px 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}





  .form-inline .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
  .form-inline .btn {
    vertical-align: middle;
  }
  
  
  