.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
  }
  
#home-search {
    padding-top: 70px; /* Add padding to the top of the container to prevent content from being covered by the navbar */
    position: relative;
    z-index: 1;
}


  .form-inline .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
  .form-inline .btn {
    vertical-align: middle;
  }
  
  
  